/* --------------------------| VARIABLES |----------------------- */
:root {
  /* --black-border: thick solid black;
  --purple-border: thick dashed purple; */
  /* --red-border: medium solid red;
  --blue-border: thin solid blue; */
  /* --green-border: medium dotted black; */
  /* --project-background-1: white;
  --project-background-2: brown;
  --project-background-3: blue;
  --project-background-4: green;
  --project-background-5: orange; */
  --font-libre: 'Libre Franklin', sans-serif;
  --font-ssp: 'Source Sans Pro', sans-serif;
  --main-margin: 1.5% 12.5% 1.5% 12.5%;
}


/* --------------------------| PAGE/LAYOUT LEVEL |----------------------- */

body {
  /* margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; */
  background-color: grey;
  font-family: var(--font-ssp);
  font-family: var(--font-libre);
}

.l-body {
  border: var(--black-border);
  display: grid;
  grid-template-rows: 1fr 2fr 8fr 2fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

/* Grid A */
.l-header {
  border: var(--purple-border);
  grid-row: 1 / 2;
  grid-column: 1 / 5;

  background-color: var(--project-background-1);
  /* background-image: url('https://i.imgur.com/zwF1Ywf.jpg');
  background-repeat: round; */

  /* Sub Flexbox */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* Grid B */
.l-intro {
  border: var(--purple-border);
  grid-row: 2 / 3;
  grid-column: 1 / 5;

  background-color: var(--project-background-1);
  /* background-image: url('https://i.imgur.com/zwF1Ywf.jpg');
  background-repeat: round; */

}

/* Grid C */
.l-portfolio {
  border: var(--purple-border);
  grid-row: 3 / 4;
  grid-column: 1 / 5;

  background-color: var(--project-background-1);
  /* background-image: url('https://i.imgur.com/zwF1Ywf.jpg');
  background-repeat: round; */

}

/* Grid D */
.l-footer {
  border: var(--purple-border);
  grid-row: 4 / 5;
  grid-column: 1 / 5;

  background-color: var(--project-background-1);
  /* background-image: url('https://i.imgur.com/zwF1Ywf.jpg');
  background-repeat: round; */

  /* Sub Flexbox */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}



/* -------------------------| SECTIONAL LEVEL |-------------------------- */


/* -------------- HEADER -------------- */

/* HEADER LAYOUT [L] */

.l-header__title {
  border: var(--red-border);
  order: 2;
  flex: auto;
}

.l-header__title-socket {
  border: var(--blue-border);
}

.l-header__nav {
  border: var(--red-border);
  order: 1;
  flex: 1;
}

.l-header__nav-socket {
  border: var(--blue-border);
}


/* HEADER COMPONENTS [C] */

.c-title {
  border: var(--green-border);
}

.c-title__text {}

.c-nav {
  border: var(--green-border);
}

.c-nav__list {}

.c-nav__link {}



/* -------------- INTRO -------------- */

/* INTRO LAYOUT [L] */

.l-intro__banner {
  border: var(--red-border);
  margin: var(--main-margin);
}

.l-intro__banner-socket {
  border: var(--blue-border);
}


/* INTRO COMPONENTS [C] */

.c-banner {
  border: var(--green-border);
}

.c-banner__text {}

.c-banner__img {}




/* ------------ PORTFOLIO -------------- */

/* PORTFOLIO LAYOUT [L] */

/* Sub-Grid */
.l-portfolio-sub-grid {
  border: var(--red-border);
  /* margin-left: 12.5%;
  margin-right: 12.5%; */
  margin: var(--main-margin);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

/* Sub-Grid A */
.l-portfolio__title {
  border: var(--green-border);
  background-color: var(--project-background-2);
  grid-column: span 2;
}

.l-portfolio__title-socket {}


/* Sub-Grid B */
.l-portfolio__project-1 {
  border: var(--green-border);
  background-color: var(--project-background-4);
  grid-column: span 1;
}

.l-portfolio__project-1-socket {}


/* Sub-Grid C */
.l-portfolio__project-2 {
  border: var(--green-border);
  background-color: var(--project-background-3);
  grid-column: span 1;
}

.l-portfolio__project-2-socket {}


/* Sub-Grid D */
.l-portfolio__project-3 {
  border: var(--green-border);
  background-color: var(--project-background-2);
  grid-column: span 2;
}

.l-portfolio__project-3-socket {}


/* Sub-Grid E */
.l-portfolio__project-4 {
  border: var(--green-border);
  background-color: var(--project-background-3);
  grid-column: span 1;
}

.l-portfolio__project-4-socket {}

/* Sub-Grid F */

.l-portfolio__project-5 {
  border: var(--green-border);
  background-color: var(--project-background-4);
  grid-column: span 1;
}

.l-portfolio__project-5-socket {}

/* Sub-Grid G */

.l-portfolio__project-6 {
  border: var(--green-border);
  background-color: var(--project-background-2);
  grid-column: span 2;
}

.l-portfolio__project-6-socket {}



/* PORTFOLIO COMPONENTS [C] */

/* Sub-Grid A */

.c-portfolio-title {}

.c-portfolio-title__text {}


/* Sub-Grid B */

.c-project-1 {}

.c-project-1__img {}

.c-project-1__title {}

.c-project-1__disc {}

.c-project-1__link {}


/* Sub-Grid C */

.c-project-2 {}

.c-project-2__img {}

.c-project-2__title {}

.c-project-2__disc {}

.c-project-2__link {}


/* Sub-Grid D */

.c-project-3 {}

.c-project-3__img {}

.c-project-3__title {}

.c-project-3__disc {}

.c-project-3__link {}


/* Sub-Grid E */

.c-project-4 {}

.c-project-4__img {}

.c-project-4__title {}

.c-project-4__disc {}

.c-project-4__link {}

/* Sub-Grid F */

.c-project-5 {}

.c-project-5__img {}

.c-project-5__title {}

.c-project-5__disc {}

.c-project-5__link {}


/* Sub-Grid G */

.c-project-6 {}

.c-project-6__img {}

.c-project-6__title {}

.c-project-6__disc {}

.c-project-6__link {}



/* -------------- FOOTER -------------- */

/* FOOTER LAYOUT [L] */

.l-footer__contact {
  border: var(--red-border);
  margin: var(--main-margin);
  flex: auto;
}

.l-footer__contact-socket {
  border: var(--blue-border);
}


/* FOOTER COMPONENTS [C] */

.c-contact {
  border: var(--green-border);
}

.c-contact__title {}

.c-contact__list {}

.c-contact__link {}





/* ----------------------------| MEDIA QUERIES |------------------------- */

/* Media queries < 700px */

  /* @media (min-width: 700px) {} */

/* Media queries < 500px */

  /* @media (min-width: 500px) {} */
