/* --------------------------| VARIABLES |------------------------------- */
:root {
  --black-border: medium solid black;
  --purple-border: medium solid purple;
  --red-border: medium solid red;
  --green-border: medium solid green;
  --orange-border: medium dashed orange;


  --zero-margin: 0;
  --zero-padding: 0;


  --dark-green: #152619;
  --med-green: #426f4c;
  --light-green: #6bbe7b;

  --temp-1: #343F36;
  --temp-2: #64896C;
  --temp-3: #B7CA93;
  --temp-4: #6A5D34;
  --temp-5: #5D5232;

  --temp-a: #2B342D;
  --temp-b: #49644F;
  --temp-c: #86936B;
  --temp-d: #6A5D34;
  --temp-e: #554B2E;



  --font-libre: 'Libre Franklin', sans-serif;
  --font-ssp: 'Source Sans Pro', sans-serif;
  --font-pacific: 'Pacifico', cursive;
  --font-anton: 'Heebo', sans-serif;

}


/* --------------------------| PAGE/LAYOUT LEVEL |----------------------- */

/* * {
  margin: 0;
  padding: 0;
} */


body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.l-overlay {
  display: none;
}

.l-body {
  outline: var(--black-border);

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;

}

.l-header {
  boarder: var(--purple-border);
  background-color: var(--temp-a);
  /* (flex: flex-grow, flex-shrink, flex-basis) */
  flex: 1 1 auto;


  /* Sub Flexbox */
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;

}

.l-intro {
  boarder: var(--purple-border);
  background-image: url("../img/joint.jpg");
  background-repeat: round;
  height: 200px;

  flex: 1 1 auto;
  color: var(--temp-c);
}

.l-main {
  boarder: var(--purple-border);
  background-color: var(--temp-a);
  flex: 2 1 auto;
  color: var(--temp-c);
}

.l-about {
  boarder: var(--purple-border);
  background-color: var(--temp-a);
  color: var(--temp-c);

  flex: 1 1 auto;
}

.l-info {
  boarder: var(--purple-border);
  background-color: var(--temp-a);
  color: var(--temp-c);
  flex: 1 1 auto;
}

.l-footer {
  boarder: var(--purple-border);
  background-color: var(--temp-a);
  color: var(--temp-c);
  flex: 1 1 auto;

  /* Sub Flexbox */
  /* display: flex;
  flex-direction: column; */
  /* justify-content: flex-start; */
}



/* -------------------------| SECTIONAL LEVEL |-------------------------- */


/* ----------------------- HEADER ----------------------- */




/* T I T L E */

.l-header__open-nav {
  display: none;
}

/* .l-header__title {
  border: var(--red-border);
  font-family: var(--font-pacific);
  flex: auto;
} */

.c-title {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--green-border);

  flex: 1 0 auto;
  align-self: stretch;
}

.c-title__text {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  text-align: center;
}

.c-title__text a {
  text-decoration: none;
}

.c-title__text a:hover {
  /* color: var(--med-green); */
}

/* N A V */

/* .l-header__nav {
  border: var(--red-border);
  font-family: var(--font-libre);
  (flex: flex-grow, flex-shrink, flex-basis)
  flex: 1 1 auto;
} */

.c-nav {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--green-border);
  text-align: center;

  flex: 1 0 auto;
  align-self: stretch;
}

.c-nav__list {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  list-style-type: none;
}

.c-nav__link {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--black-border);
  display: inline-block;
}

.c-nav__link a {
  text-transform: uppercase;
  text-decoration: none;
  /* font-size: 14px; */
  color: black;
}

.c-nav__link a:hover {
  color: var(--nav-hover-color);
}


/* ----------------------- INTRO ----------------------- */



/* .l-intro__banner {
  border: var(--red-border);
} */

.c-banner {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--green-border);
  text-align: center;

}

.c-banner__text {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  font-family: var(--font-anton);
  font-size: 38px;
  color: white;
}




/* ----------------------- MENU ----------------------- */


/* Title */

/* .l-main__title {
  border: var(--red-border);
} */

.c-main-title {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--green-border);
}

.c-main-title__text {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
}



/* Project 1 */

/* .l-main__menu-1 {
  border: var(--red-border);

} */

.c-menu-1 {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--green-border);
}

.c-menu-1__title {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
}

.c-menu-1__disc {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
}

.c-menu-1__link {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  text-decoration: none;
}

.c-menu-1__img {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  width: 250px;
  height: 250px;
}






/* Project 2 */

/* .l-main__menu-2 {
  border: var(--red-border);

} */

.c-menu-2 {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--green-border);

}

.c-menu-2__title {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
}

.c-menu-2__disc {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
}

.c-menu-2__link {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  text-decoration: none;
}

.c-menu-2__img {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  width: 250px;
  height: 250px;
}





/* ----------------------- FOOTER ----------------------- */


/* C O N T A C T */

/* .l-footer__contact {
  border: var(--red-border);

} */

.c-contact {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--green-border);

}

.c-contact__logo {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  font-family: var(--font-pacific);
  text-align: center;
}

.c-contact__title {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  text-align: center;

}

.c-contact__list {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  list-style-type: none;
  text-align: center;
}

.c-contact__link {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--black-border);
  text-decoration: none;
}


/* L E G A L */

/* .l-footer__legal {
  border: var(--red-border);
} */

.c-legal {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--green-border);
}

.c-legal__text {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  text-align: center;
}





/*







----------------------------| MEDIA QUERIES








*/

@media only screen and (max-width: 500px) {

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
   }

  .l-body {
    outline: var(--black-border);
  }

  .hide-body {
    display: none;
  }

  .show-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
  }

  .l-header {
    boarder: var(--purple-border);
    flex: 1 1 auto;

    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
  }

  .l-intro {
    boarder: var(--purple-border);
    background-image: url("../img/joint.jpg");
    background-repeat: round;

    flex: 1 1 auto;
  }

  .l-main {
    boarder: var(--purple-border);

    flex: 2 1 auto;
  }

  .l-about {
    boarder: var(--purple-border);
    flex: 1 1 auto;
  }

  .l-info {
    boarder: var(--purple-border);
    flex: 1 1 auto;
  }

  .l-footer {
    boarder: var(--purple-border);

    flex: 1 1 auto;
  }






  .l-overlay {
    border: var(--green-border);
    width: 100%;
    height: 100px;
    overflow-x: hidden;
    z-index: 5;
  }

  .l-overlay__close-button {
    border: var(--orange-border);
  }


  .l-overlay__nav-list {
    border: var(--orange-border);
  }


  .l-overlay__nav-list a {
    text-align: center;
  }

  .overlay-on {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .overlay-off {
    display: none
  }





  .l-header__open-nav {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--green-border);

    display: block;

    flex: 0 1 auto;
    align-self: stretch;
  }

  .l-header__open-nav button {
    margin: var(--zero-margin);
    padding: 5px 20px 5px 20px;
    border: var(--orange-border);
    font-size: 32px;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    background: var(--temp-a);
    color: var(--temp-c);
    line-height: 2;
    white-space: nowrap;
  }

  .c-title {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--green-border);

    flex: 1 0 auto;
    align-self: flex-end;
    color: var(--temp-d);
  }

  .c-title__text {
    margin: var(--zero-margin);
    padding: 0px 0px 10px 20px;
    border: var(--orange-border);
    text-align: left;
  }

  .c-title__text a {
    text-decoration: none;
    font-size: 38px;
    color: var(--temp-d);
    font-family: var(--font-pacific);
  }

  .c-title__text a:hover {
    color: var(--med-green);
  }

  .c-nav {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--green-border);
    text-align: center;
    display: none;
  }

  .c-nav__list {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
    list-style-type: none;
  }

  .c-nav__link {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--black-border);
  }

  .c-nav__link a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }

  .c-nav__link a:hover {
    color: var(--nav-hover-color);
  }

  .c-banner {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--green-border);
    text-align: center;

  }

  .c-banner__text {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
    font-family: var(--font-anton);
    font-size: 38px;
    color: white;
  }

  .c-main-title {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--green-border);
  }

  .c-main-title__text {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
  }

  .c-menu-1 {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--green-border);
  }

  .c-menu-1__title {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
  }

  .c-menu-1__disc {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
  }

  .c-menu-1__link {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
    text-decoration: none;
  }

  .c-menu-1__img {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
    width: 250px;
    height: 250px;
  }

  .c-menu-2 {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--green-border);

  }

  .c-menu-2__title {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
  }

  .c-menu-2__disc {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
  }

  .c-menu-2__link {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
    text-decoration: none;
  }

  .c-menu-2__img {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
    width: 250px;
    height: 250px;
  }

  .c-about {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--green-border);
  }

  .c-about__intro {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
  }

  .c-about__disc {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
  }

  .c-info {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--green-border);
  }

  .c-info__map {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
  }

  .c-info__hours {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
  }

  .c-info__phone {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
  }




  .c-contact {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--green-border);

  }

  .c-contact__logo {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
    font-family: var(--font-pacific);
    text-align: center;
  }

  .c-contact__title {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
    text-align: center;

  }

  .c-contact__list {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
    list-style-type: none;
    text-align: center;
  }

  .c-contact__link {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--black-border);
    text-decoration: none;
  }

  .c-legal {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--green-border);
  }

  .c-legal__text {
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    border: var(--orange-border);
    text-align: center;
  }
}
