/* --------------------------| VARIABLES |------------------------------- */
:root {
  /* --black-border: medium solid black;
  --purple-border: medium solid purple;
  --red-border: medium solid red;
  --green-border: medium solid green;
  --orange-border: medium dashed orange; */


  --zero-margin: 0 0 0 0;
  --zero-padding: 0 0 0 0;


  --title-font-size: 68px;

  --dark-green: #152619;
  --med-green: #426f4c;
  --light-green: #6bbe7b;

  --temp-blank: white;
  --temp-black: black;
  --temp-a: #2B342D;
  --temp-b: #49644F;
  --temp-c: #86936B;
  --temp-d: #6A5D34;
  --temp-e: #554B2E;



  --font-libre: 'Libre Franklin', sans-serif;
  --font-ssp: 'Source Sans Pro', sans-serif;
  --font-pacific: 'Pacifico', cursive;
  --font-anton: 'Heebo', sans-serif;

}


/* --------------------------| PAGE/LAYOUT LEVEL |----------------------- */

/* * {
  margin: 0;
  padding: 0;
} */


body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.l-overlay {
  display: none;
}

.l-body {
  outline: var(--black-border);

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;

}

.l-header {
  boarder: var(--purple-border);
  background-color: var(--temp-blank);
  /* (flex: flex-grow, flex-shrink, flex-basis) */
  flex: 1 1 auto;


  /* Sub Flexbox */
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;

}

.l-intro {
  boarder: var(--purple-border);

  flex: 1 1 auto;
  color: var(--temp-c);
}

.l-main {
  boarder: var(--purple-border);
  background-color: var(--temp-blank);
  flex: 2 1 auto;
  color: var(--temp-a);
}

.l-about {
  boarder: var(--purple-border);
  background-color: var(--temp-blank);
  color: var(--temp-c);

  flex: 1 1 auto;
}

.l-info {
  boarder: var(--purple-border);
  background-color: var(--temp-blank);
  color: var(--temp-c);
  flex: 1 1 auto;
}

.l-footer {
  boarder: var(--purple-border);
  background-color: var(--temp-blank);
  color: var(--temp-c);
  flex: 1 1 auto;

  /* Sub Flexbox */
  /* display: flex;
  flex-direction: column; */
  /* justify-content: flex-start; */
}



/* -------------------------| SECTIONAL LEVEL |-------------------------- */


/* ----------------------- HEADER ----------------------- */




/* T I T L E */

.c-header__open-nav {
  display: none;
}

/* .l-header__title {
  border: var(--red-border);
  font-family: var(--font-pacific);
  flex: auto;
} */

.c-title {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--green-border);

  flex: 1 0 auto;
  align-self: stretch;
}

.c-title__text {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  text-align: center;
}

.c-title__text a {
  text-decoration: none;
}

.c-title__text a:hover {
  /* color: var(--med-green); */
}

/* N A V */

/* .l-header__nav {
  border: var(--red-border);
  font-family: var(--font-libre);
  (flex: flex-grow, flex-shrink, flex-basis)
  flex: 1 1 auto;
} */

.c-nav {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--green-border);
  text-align: center;

  flex: 1 0 auto;
  align-self: stretch;
}

.c-nav__list {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  list-style-type: none;
}

.c-nav__link {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--black-border);
  display: inline-block;
}

.c-nav__link a {
  text-transform: uppercase;
  text-decoration: none;
  /* font-size: 14px; */
  color: black;
}

.c-nav__link a:hover {
  color: var(--nav-hover-color);
}


/* ----------------------- INTRO ----------------------- */



/* .l-intro__banner {
  border: var(--red-border);
} */

.c-banner {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--green-border);
  text-align: center;

}

.c-banner__text {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  font-family: var(--font-anton);
  font-size: 38px;
  color: white;
}

.c-banner__logo {}


/* ----------------------- MENU ----------------------- */


/* Title */

/* .l-main__title {
  border: var(--red-border);
} */

.c-main-title {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--green-border);
}

.c-main-title__text {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
}



/* Project 1 */

/* .l-main__menu-1 {
  border: var(--red-border);

} */

.c-menu-1 {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--green-border);
}

.c-menu-1__title {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
}

.c-menu-1__disc {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
}

.c-menu-1__link {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  text-decoration: none;
}

.c-menu-1__img {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  width: 250px;
  height: 250px;
}






/* Project 2 */

/* .l-main__menu-2 {
  border: var(--red-border);

} */

.c-menu-2 {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--green-border);

}

.c-menu-2__title {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
}

.c-menu-2__disc {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
}

.c-menu-2__link {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  text-decoration: none;
}

.c-menu-2__img {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  width: 250px;
  height: 250px;
}





/* ----------------------- FOOTER ----------------------- */


/* C O N T A C T */

/* .l-footer__contact {
  border: var(--red-border);

} */

.c-contact {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--green-border);

}

.c-contact__logo {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  font-family: var(--font-pacific);
  text-align: center;
}

.c-contact__title {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  text-align: center;

}

.c-contact__list {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  list-style-type: none;
  text-align: center;
}

.c-contact__link {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--black-border);
  text-decoration: none;
}


/* L E G A L */

/* .l-footer__legal {
  border: var(--red-border);
} */

.c-legal {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--green-border);
}

.c-legal__text {
  margin: var(--zero-margin);
  padding: var(--zero-padding);
  border: var(--orange-border);
  text-align: center;
}





/*







----------------------------| MEDIA QUERIES








*/

@media only screen and (max-width: 500px) {

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
   }

  .l-body {
    outline: var(--black-border);
  }

  .hide-body {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .025s ease-in-out;
    transition: all .025s ease-in-out;
  }

  .show-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;

    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .l-header {
    boarder: var(--purple-border);
    flex: 1 1 auto;
    background-color: var(--temp-blank);

    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
  }

  .l-intro {
    boarder: var(--purple-border);
    flex: 1 1 auto;
  }

  .l-main {
    boarder: var(--purple-border);
    flex: 2 1 auto;
  }

  .l-about {
    boarder: var(--purple-border);
    flex: 1 1 auto;
  }

  .l-info {
    boarder: var(--purple-border);
    flex: 1 1 auto;
  }

  .l-footer {
    boarder: var(--purple-border);
    flex: 1 1 auto;
  }






  .l-overlay {
    border: var(--green-border);
    overflow-x: hidden;
  }

  .l-overlay__close-button {
    border: var(--orange-border);
    font-size: 36px;
  }


  .l-overlay__nav-list {
    border: var(--orange-border);
    flex: 1 1 auto;
  }


  .l-overlay__nav-list a {
    text-align: center;
  }

  .overlay-on {
    display: flex;
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

  }

  .overlay-off {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }



  .c-header__open-nav {
    border: var(--green-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);

    display: block;
    flex: 0 1 auto;
    align-self: stretch;
  }

  .c-header__open-nav button {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: 5px 20px 5px 20px;
    font-size: 32px;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    background: var(--temp-blank);
    color: var(--temp-c);
    line-height: 2;
    white-space: nowrap;
    transition: height 2s ease-in-out;
  }

  .c-title {
    border: var(--green-border);
    margin: var(--zero-margin);
    padding: 20px 45px 5px 0px;

    flex: 1 0 auto;
    align-self: flex-start;
    color: var(--temp-c);
  }

  .c-title__text {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: 0px 0px 10px 20px;
    text-align: center;

  }

  .c-title__text a {
    border: var(--black-border);
    text-decoration: none;
    font-size: 32px;
    color: var(--temp-c);
    font-family: var(--font-libre);
  }

  .c-title__text a:hover {
    color: var(--temp-b);
  }

  .c-nav {
    border: var(--green-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    text-align: center;
    display: none;
  }

  .c-nav__list {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    list-style-type: none;
  }

  .c-nav__link {
    border: var(--black-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);
  }

  .c-nav__link a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--temp-black);
  }

  .c-nav__link a:hover {
    color: var(--nav-hover-color);
  }

  .c-banner {
    border: var(--green-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    text-align: left;

    /* background-image: url("../img/smoke.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    background-attachment: fixed; */

  }

  .c-banner__text {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    font-family: var(--font-anton);
    font-size: 38px;
    color: var(--temp-c);
  }

  .c-banner__logo {
    border: var(--orange-border);
    margin: 0px 40px 0px 40px;
    padding: 50px 0px 0px 0px;
    transition: all .2s ease-in-out .2s;
  }

  .c-banner__logo:hover {
    transform: scale(1.025);
  }

  .c-banner__leaf-1 {
    fill: var(--temp-b);
  }

  .c-banner__leaf-2 {
    fill: var(--temp-c);
  }

  .c-banner__leaf-3 {
    fill: var(--temp-a);
  }



  .c-main-title {
    border: var(--green-border);
    margin: var(--zero-margin);
    padding: 100px 0px 0px 0px;
  }

  .c-main-title__text {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    font-size: var(--title-font-size);
    font-family: var(--font-anton);
    line-height: 1.5rem;
    color: var(--temp-black);
  }


  .c-menu-1 {
    border: var(--green-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    background-color: var(--temp-c);
  }

  .c-menu-1__title {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: 55px 5px 55px 5px;
    text-align: center;
    font-style: normal;
    font-size: 42px;
    font-family: var(--font-libre);
    color: var(--temp-blank);
  }

  .c-menu-1__link {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: 55px 5px 55px 5px;
    text-align: center;
    font-family: var(--font-libre);
  }


  .c-menu-1__link a {
    border: var(--black-border);
    margin: var(--zero-margin);
    padding: 15px 45px 15px 45px;
    text-decoration: none;
    background-color: var(--temp-d);
    color: var(--temp-blank);
  }


  .c-menu-2 {
    border: var(--green-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    background-color: var(--temp-d);
  }

  .c-menu-2__title {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: 55px 5px 55px 5px;
    font-family: var(--font-libre);
    text-align: center;
    font-style: normal;
    font-size: 42px;
    color: var(--temp-blank);

  }


  .c-menu-2__link {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: 55px 5px 55px 5px;
    text-align: center;
    font-family: var(--font-libre);

  }

  .c-menu-2__link a {
    border: var(--black-border);
    margin: var(--zero-margin);
    padding: 15px 45px 15px 45px;
    text-decoration: none;
    color: var(--temp-blank);
    background-color: var(--temp-c);

  }

  .c-about {
    border: var(--green-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);

  }

  .c-about__intro {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: 100px 0px 0px 0px;
    font-size: var(--title-font-size);
    font-family: var(--font-anton);
    line-height: 1.5rem;
    color: var(--temp-black);
    background-color: var(--temp-blank);

  }

  .c-about__disc {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: 35px 50px 50px 25px;
    color: var(--temp-black);
    background-color: rgba(106, 93, 52, .75);
  }

  .c-info {
    border: var(--green-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    background-color: rgba(73, 100, 79, .8);
  }

  .c-info__map {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);
  }

  .c-info__map img {
    width: 250px;
    height: 250px;
  }

  .c-info__hours {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: 0px 0px 0px 0px;
    color: var(--temp-black);

  }

  .c-info__hours-title h2 {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: 100px 0px 0px 0px;

    font-size: var(--title-font-size);
    font-family: var(--font-anton);
    line-height: 1.5rem;
    color: var(--temp-black);
    background-color: var(--temp-blank);
  }

  .c-info__hours {
    padding: 50px 0px 0px 0px;
  }

  .c-info__phone {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: 0px 0px 0px 0px;
    color: var(--temp-black);
  }

  .c-contact {
    border: var(--green-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    background-color: var(--temp-c);
  }

  .c-contact__logo {
    border: var(--orange-border);
    margin: var(--zero-margin);
    font-family: var(--font-ssp);
    text-align: left;
    padding: 100px 0px 0px 0px;
    font-size: var(--title-font-size);
    font-family: var(--font-anton);
    line-height: 1.5rem;
    color: var(--temp-black);
    background-color: var(--temp-blank);
  }

  .c-contact__title {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: 25px 10px 25px 10px;
    text-align: center;
    color: var(--temp-black);
  }

  .c-contact__list {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    list-style: none;
    display: inline-block;
  }

  .c-contact_list li {
    border: var(--black-border);
    margin: 0px 0px 25px 0px;
    padding: 5px 5px 5px 5px;

  }

  .c-contact__link {
    border: var(--purple-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    text-decoration: none;

  }

  .c-contact__link-icon {
    border: var(--green-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);

    width: 25px;
    height: 25px;
    fill: var(--temp-a);

  }

  .c-legal {
    border: var(--green-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    background-color: var(--temp-c);
  }

  .c-legal__text {
    border: var(--orange-border);
    margin: var(--zero-margin);
    padding: var(--zero-padding);
    text-align: center;
    color: var(--temp-black);
  }
}
